body{
    font-family: 'PT Serif', serif;
    padding-top: 10px;
    background-color: white;
}
.first-mission
{
    font-size: 50px;
    font-weight: 800;
    font-family: 'Lora', serif;
    border-left: 4px solid rosybrown;
    padding-left: 2%;
}
.mission-1
{
    color: orangered;
}
.explore-button
{
    text-decoration: none;
    background-image: linear-gradient(coral, salmon);
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 600;
    color: wheat;
}
.half-width{
    width:50%;
    padding-left: 9%;
    margin-top: 5%;
}
.half-width img{
    padding-top: 7%;
    width: 70%;
   
}
.felx-container{
    display: flex;
    margin-bottom: 40px;
}
#mi-1{
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.box1{
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 10px 10px 10px none;
    border-radius: 25px;
    background-color: seashell;
    margin-left: 5%; 
    margin-top: 0%;
}
.box2{
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 10px 10px 10px none;
    border-radius: 25px;
    background-color:silver;
    margin-left: 2%;
    margin-top: 0%;
}
.box3{
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 10px 10px 10px none;
    border-radius: 25px;
    background-color:skyblue;
    margin-left: 2%;
    margin-right: 5%;
    margin-top: 0%;
}

.mission-3{  
    background-image: url(./shapes/shape-1.png); 
    background-repeat: no-repeat;
    background-position:left;
    background-size: 20%;
    margin-top: 0%;
}
#mi-3{
    text-align: left;
}
.mission-3-1{
    margin-left: 0%;
    padding-left: 0%;
    margin-right: 20%;
    width: 50%;
}
#mi-4{
    text-align: left;
    font-size: 50px;
}
.mission-4
{
    background-image: url(./shapes/shape-1.png); 
    background-repeat: no-repeat;
    background-position:right bottom;
    background-size:35%;
    margin-top: 0%;
}
.traffic{
    text-align: center;
}
.traffic-1{
    margin-left: 0%;
    margin-right: 20%;
}
#footer-section{
    background-color: black;
    color: white;
}
footer h2{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 30px;
}
footer p{
    text-align: center;
}
#f-2022{
    color: tomato;
}